*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1140px;
  height: 534px;
  margin: 133px 30px;
  gap: 30px;
}

.result {
  width: 100%;
  height: 100%;
  display: grid;
  align-content: flex-end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 711px;
  height: 54px;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
  align-self: end;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed',sans-serif;
  font-style: Regular;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 100%;
  padding-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff
}

.content__accent {
  color: #545050;
}

.content__details {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 25px;
}

.content__list-container {
  display: grid;
  height: 298px;
  overflow: auto;
  gap: 10px;
  position: relative;
}

.content__list {
  display: grid;
  gap: 30px;
}

.content__video-card {
  display: flex;
  padding: 0px 0px;
  width: 390px;
  height: 103px;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  display: flex;
  height: 103px;
  min-width: 194px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__list-item {
  padding: 3px 3px;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 2px solid #fff;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  width: 196px;
  height: 103px;
}

.content__card-link_current {
  background-color: #1b1919;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__video-card-title {
  width: 196px;
  height: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed',sans-serif;
  width: 196px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

input {
  width: 225px;
  height: 27px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: none;
  border-left: none;
  gap: 10px;
  color: #fff;
  background-color: #1b1919;
  
}

.search-form__textfield {
  height: 22px;
  font-family: 'Fira Sans Condensed',sans-serif;
  font-style: Regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  appearance: none;
  cursor: pointer;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label input:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 2px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 3.5px;
  left: 2px;
  border: 1px solid #1b1919;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.button {
  font-family: 'Fira Sans Condensed',sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  background: #1b1919;
  border: 1px solid #fff;
  cursor: pointer;
  
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-top: 15px;
  left: 398px;
  gap: 10px;
  align-self: end;
}

.more-button {
  position: relative;
  margin-top: 30px;
  width: 390px;
  height: 34px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.search-form__submit-button:active {
  background: #545050;
}

.more-button:active {
  background: #545050;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.more-button:hover {
  text-decoration: underline;
}

.search-form__submit-button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 2px solid #fff;
}

.more-button:focus {
  outline: none;
}

.more-button:focus-visible {
  outline: 2px solid #fff;
}
